// Sorry in advance, but this was necessary.
// It's for the greater good

@import 'vendors/normalize',
        'vendors/variables',
        'vendors/functions',
        'vendors/mixins',
				'vendors/base';
				
@import 'components/navigation',
        'components/footer',
        'components/inputs';

@import 'vendors/helpers',
        'vendors/animations';

@import '../../../node_modules/algolia-aerial/src/stylesheet/aerial';

@import 'components/docsearch/docsearch';
@import 'components/docsearch/dropdown';
@import 'components/docsearch/searchbox';

@include searchbox($searchbox-config...);
@include dropdown($dropdown-config...);

iframe {
  border: none;
}

.display-on-small {
  background-color: $white;
}

.hero-section {
  @include diagonal(-4deg, $white, 150px, before) {
    bottom: -110px;
    left: 0;
  }
  #places_illustration {
    overflow: visible;
  }
  @media (max-width: $screen-sm) {
    .flex-it-2 {
      flex: 0 1 100%;
    }
    #github-button {
      display: none;
    }
    .text-heading {
      font-size: 40px;
      text-align: center;
    }
    .text-bg {
      text-align: center;
      line-height: 1.45;
    }
  }

  #json-response {
    max-width: 940px;
    background-image: linear-gradient(283deg, #3A3665, #262243);
    z-index: 0;
  
    #json-response-text {
      unicode-bidi: embed;
      font-family: monospace;
      white-space: pre;
      overflow: scroll;

      span[data-highlight-key] {
        color: #93E600;
      }
      span[data-highlight-value] {
        color: #FFC168;
        em {
          font-style: normal;
        }
        span[data-highlight-match] {
          background: rgba($white, .25);
        }
      }
      span[data-highlight-default] {
        color: $white;
      }
    }
  
    #json-response-timing {
      position: absolute;
      bottom: .5em;
      right: .5em;

      span[data-highlight-fast] {
        color: #93E600;
      }
      span[data-highlight-medium] {
        color: #FFC168;
      }
      span[data-highlight-slow] {
        color: $radical-red;
      }
    }
  
    &:not(.display) {
      visibility: hidden;
    }
  
    &.display {
      visibility: visible;
      @extend %animated;
      @extend %fadeInDown;
    }
  }
}

.cta-section {
  @include diagonal(-4deg, $titan-white, 100px, before) {
    bottom: -40px;
    left: 0;
  }
}

.examples-section {
  .flex-it-2 .content {
    width: 70%;
  }
  @media (max-width: $screen-sm) {
    .flex-it-2 .content {
      width: 100%;
    }
    .flex-container.flex-dir-col {
      .flex-container.flex-align-center {
        flex-direction: column;
      }
      .reverse-col {
        flex-direction: column-reverse !important;
      }
    }
    .flex-it-2 {
      flex: 0 1 100%;
    }
  }
}

.marketing-section {
  @include diagonal(-4deg, $titan-white, 100px, before) {
    top: -40px;
    left: 0;
  }
  .content {
    max-width: 75%;
    margin: 0 auto;
  }
  
  @media (max-width: $screen-sm) {
    .flex-container {
      flex-direction: column;
    }
    .flex-it-2 {
      flex: 0 1 100%;
      &:nth-child(2n) {
        margin-top: 64px;
      }
      .flex-it-3 {
        flex: 0 1 auto;
      }
    }
    .content {
      max-width: 100%;
      margin: 0 auto;
    }
    .flex-grow-1 {
      flex: 0 1 50%;
    }
  }
  
  @media (max-width: $screen-lg) {
    .flex-it-2 {
      flex: 0 1 100%;
      .flex-it-3 {
        flex: 0 1 auto;
      }
    }
    .content {
      max-width: 100%;
      margin: 0 auto;
    }
    .flex-grow-1 {
      flex: 0 1 50%;
    }
  }
}

.ac-footer-version {
  margin-bottom: 0 !important;
}