## Getting started

To use Algolia Places, all you need is an `<input />` and some JavaScript code that will load
and use the places.js library.

### Using `<script>` tags

```html
<input  type="text" id="demo" placeholder="Where are we going?" />
<script src="<%= config[:places_cdn_url] %>"></script>
<script>
  var placesAutocomplete = places({
    container: document.querySelector('#places-demo')
  });
</script>
```

### With npm

Install the module:

```sh
npm install places.js --save
```

Put an `<input />` in your html page:

```html
<input type="text" id="demo" placeholder="Where are we going?" />
```

Initialize the places.js library:

```js
import places from 'places.js';
const placesAutocomplete = places({
  container: document.querySelector('#places-demo')
});
```

### Demo

As a result, you will get the Algolia Places autocompletion menu:

<input type="text" id="docs-getting-started-demo" placeholder="Where are we going?" />

## API

### options

Here are the options you can pass to the `places(options)` function.

<!-- Indentation is on purpose for <td>s, to allow HTML inside markdown -->
<table class="api">
  <thead><tr>
    <th>Option</th>
    <th>Description</th>
  </tr></thead>
  <tbody>
    <tr>
<td markdown="1">
`container`

Type: [HTMLInputElement](https://www.w3.org/2003/01/dom2-javadoc/org/w3c/dom/html2/HTMLInputElement.html)

required: **yes**
</td>
<td markdown="1">
Determines the `<input />` that will be used for the Algolia Places autocompletion menu.

You just need to pass a reference to an Element. Obtained via
[document.querySelector](https://developer.mozilla.org/en-US/docs/Web/API/Document/querySelector) for example.
</td>
    </tr>
    <tr>
<td markdown="1">
`language`

Type: string

required: no
</td>
<td markdown="1">
Change the default language of the results.
You can pass two letters country codes ([ISO 639-1](https://en.wikipedia.org/wiki/ISO_3166-1#Officially_assigned_code_elements)).

**Default**: Current user language obtained via `navigator.language` in the two letter form.
Example: `en` when navigator.language is `en_US`.
</td>
    </tr>
    <tr>
<td markdown="1">
`countries`

Type: string[]

required: no
</td>
<td markdown="1">
Change the countries to search in. You must pass an array of two letters country codes
([ISO 639-1](https://en.wikipedia.org/wiki/ISO_3166-1#Officially_assigned_code_elements)).

**Default**: Search on the whole planet.
</td>
    </tr>
  </tbody>
</table>

Simple example with only the required parameter:

```js
const placesAutocomplete = {
  container: document.querySelector('#demo')
};
```

Advanced example using all parameters:

```js
const placesAutocomplete = {
  container: document.querySelector('#demo'),
  language: 'de',
  countries: ['us', 'ru']
};
```

### events

The Algolia Places autocomplete exposes some events that you can register to:

```js
const placesAutocomplete = {
  container: document.querySelector('#demo')
};

placesAutocomplete.on('change', suggestion => console.log(suggestion));
```

<table class="api">
  <thead><tr>
    <th>Event</th>
    <th>Description</th>
  </tr></thead>
  <tbody>
    <tr>
<td markdown="1">
`change`

Event data: [suggestion](#suggestion-object)
</td>
<td markdown="1">
Fired when suggestion selected in the dropdown or hint was validated.

FIXME simple usecase
</td>
    </tr>
    <tr>
<td markdown="1">
`suggestions`

Event data: [suggestion](#suggestion-object)[]
</td>
<td markdown="1">
Fired when dropdown receives suggestions. You will receive the array of suggestions that are displayed.

You can use this event to display the suggestions [on a map](FIXME example).
</td>
    </tr>
    <tr>
<td markdown="1">
`cursorchanged`

Event data: [suggestion](#suggestion-object)
</td>
<td markdown="1">
Fired when arrows keys are used to navigate suggestions.

You can use this event to [pre-fill other form elements](FIXME).
</td>
    </tr>
  </tbody>
</table>

### Suggestion object

All of the events will send suggestion objects with those propreties:

<table class="api">
  <thead><tr>
    <th>Property</th>
    <th>Description</th>
  </tr></thead>
  <tbody>
    <tr>
<td markdown="1">
`administrative`

Type: string
</td>
<td markdown="1">
FIXME.
</td>
    </tr>
    <tr>
<td markdown="1">
`city`

Type: string
</td>
<td markdown="1">
City name.
</td>
    </tr>
    <tr>
<td markdown="1">
`country`

Type: string
</td>
<td markdown="1">
Country name.
</td>
    </tr>
    <tr>
<td markdown="1">
`countryCode`

Type: string
</td>
<td markdown="1">
Two letters country code ([ISO 639-1](https://en.wikipedia.org/wiki/ISO_3166-1#Officially_assigned_code_elements)).
</td>
    </tr>
    <tr>
<td markdown="1">
`isCity`

Type: boolean
</td>
<td markdown="1">
Will be true if the current suggestion is a city.
</td>
    </tr>
    <tr>
<td markdown="1">
`lat`

Type: number
</td>
<td markdown="1">
Latitude of the place found.
</td>
    </tr>
    <tr>
<td markdown="1">
`lng`

Type: number
</td>
<td markdown="1">
Longitude of the place found.
</td>
    </tr>
    <tr>
<td markdown="1">
`name`

Type: string
</td>
<td markdown="1">
Display name of the place found. This is the value that is shown in the dropdown or in the input when
validated. Without any html formatting.

Examples:

  - Paris Île-de-France, France
  - 589 Howard Street San Francisco, California, United States of America
</td>
    </tr>
  </tbody>
</table>

## Rate limit

FIXME

## Examples

We have complete examples for you to get inspired on what you can do with Algolia Places, have a look.
