%section.footer-section
  %hr
  .container.center-text
    %p.links Code licensed under <a href="https://github.com/algolia/places/blob/master/LICENSE" class="link">MIT</a> <br class="no-desktop"/> <a href="https://github.com/algolia/places" class="link">Github</a> <a href="https://github.com/algolia/places/issues" class="link">issues</a>

  .container.inner-bloc
    %p This project is part of
    %img{src: "images/svg/algolia-community-badge.svg"}
    %figure
      %img{src: "images/svg/algolia-community.svg"}
      %figcaption
        Algolia Community
    %a{class: "btn btn-cta btn-black"} See More

    %span.icon.icon-love-dark

  %p.version
    Latest version:
    = config[:places_lib_version]

  %div.action-footer
    .container
      %p Build unique search experience with Algolia

      %a{class: "btn btn-ghost btn-ghost-grey", href: 'https://www.algolia.com/why?utm_medium=social-owned&utm_source=places%20website&utm_campaign=homepage&utm_term=why'} See Why <span class="ico-triangle"></span>
      %a{class: "btn btn-ghost btn-ghost-pink", href: 'https://www.algolia.com/users/sign_up?utm_medium=social-owned&utm_source=places%20website&utm_campaign=homepage&utm_term=get_started'} Get Started For Free

= partial "/partials/marketing"
