%section.footer-section
  %hr
  .container.center-text
    %p.links Code licensed under <a href="#" class="link">MIT</a> <br class="no-desktop"/> <a href="#" class="link">Github</a> <a href="#" class="link">issues</a> <a href="#" class="link">Releases</a>

  .container.inner-bloc
    %p This project is part of
    %img{src: "images/svg/algolia-community-badge.svg"}
    %figure
      %img{src: "images/svg/algolia-community.svg"}
      %figcaption
        Algolia Community
    %a{class: "btn btn-cta btn-black"} See More

    %span.icon.icon-love-dark

  %p.version
    Latest version:
    = config[:places_lib_version]

  %div.action-footer
    .container
      %p Build unique search experience with Algolia


      %a{class: "btn btn-ghost btn-ghost-grey"} See Why <span class="ico-triangle"></span>
      %a{class: "btn btn-ghost btn-ghost-pink"} Get Started For Free


= partial "/partials/marketing"
