%section.ac-footer

  .ac-footer-container
    %p.ac-footer-links
      Code licensed under
      %a.ac-footer-link-item{:href => "https://github.com/algolia/places/blob/master/LICENSE"} MIT
      %br/
      %a.ac-footer-link-item{:href => "https://github.com/algolia/places/"} Github
      %a.ac-footer-link-item{:href => "https://github.com/algolia/places/issues"} Issues
      %a.ac-footer-link-item{:href => "https://www.algolia.com/policies/privacy"} Privacy policy

  .ac-footer-container.ac-footer-brand
    %p This project is part of
    %img.ac-footer-brand-icon{:src => "images/svg/community-badge.svg"}/
    %figure
      %img.ac-footer-brand-logo{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/v1484219849/algolia-community-logo-words-darkbg.svg"}/
      %figcaption Algolia Community

    %a.ac-footer-btn.ac-footer-btn-cta{:href => "https://community.algolia.com/"} See More
    %span.ac-icon.ac-icon-love-dark

  %p.ac-footer-version Latest version: #{config[:places_lib_version]}

  .ac-footer-actions
    .footer-container
      %p Build unique search experiences with Algolia
      %a.ac-footer-btn.ac-footer-btn-ghost-grey{:href => "https://www.algolia.com/why?utm_medium=social-owned&utm_source=places%20website&utm_campaign=homepage&utm_term=why"}
        See Why
        %span.ac-icon-triangle
      %a.ac-footer-btn.ac-footer-btn-ghost-pink{:href => "https://www.algolia.com/users/sign_up?utm_medium=social-owned&utm_source=places%20website&utm_campaign=homepage&utm_term=get_started"} Get Started For Free
= partial "/partials/marketing"
