%div.navigation
  %div.container
    %div.fl-left
    %a.logo-community{href: "https://community.algolia.com/", title: 'Algolia Community'}
      <img src="https://res.cloudinary.com/hilnmyskv/image/upload/logo-community-inline-dark.svg" width="150" alt="Algolia Community" />
    %a.project-title{href: "index.html", title: "Home"} Places

    %div.fl-right
      %div.searchbar
        %input{class: "form-control aa-input", placeholder: "Search in the documentation", type: "search", id: "doc-search"}

      %ul.menu
        %li{nav_active("documentation.html")}
          %a{href: "documentation.html", title: "Documentation", :data => {:path => "documentation.html"}} Documentation
        %li{nav_active("examples.html")}
          %a{href: "examples.html", title: "Examples", :data => {:path => "examples.html"}} Examples
        %li
          %a.navbar-github-link{href: "https://github.com/algolia/places", title: "GitHub repository"}
            = partial("/images/svg/icon-github.svg")
