.navigation
  .container
    .fl-left
    %a.logo-community{href: "https://community.algolia.com/", title: 'Algolia Community'}
      %img{src:"https://res.cloudinary.com/hilnmyskv/image/upload/logo-community-inline-dark.svg",width:"150",alt:"Algolia Community", class:"nav-icon no-mobile"}
      %img{src:"https://res.cloudinary.com/hilnmyskv/image/upload/v1461180081/logo-community-sm.svg", alt:"Algolia Community", class:"community-badge no-desktop"}
    %a.project-title.nav-link{href: "./", title: "Home"} Places

    .fl-right
      %form.searchbox#docsearch-form{:novalidate => "novalidate", :onsubmit => "return false;", :style => "visibility:hidden;height:0"}
        .searchbox__wrapper{:role => "search"}
          %input#docsearch.searchbox__input{:autocomplete => "off", :name => "search", :placeholder => "Search in the doc", :required => "required", :type => "search"}
            %button.searchbox__submit{:title => "Submit your search query.", :type => "submit"}
              %svg{"aria-label" => "Search", :role => "img"}
                %use{"xlink:href" => "#sbx-icon-search-13", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %button.searchbox__reset.hide{:title => "Clear the search query.", :type => "reset"}
              %svg{"aria-label" => "Reset", :role => "img"}
                %use{"xlink:href" => "#sbx-icon-clear-3", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      .svg-icons{:style => "height: 0; width: 0; position: absolute; visibility: hidden"}
        %svg{:xmlns => "http://www.w3.org/2000/svg"}
          <symbol id="sbx-icon-clear-3" viewBox="0 0 40 40"><path d="M16.228 20L1.886 5.657 0 3.772 3.772 0l1.885 1.886L20 16.228 34.343 1.886 36.228 0 40 3.772l-1.886 1.885L23.772 20l14.342 14.343L40 36.228 36.228 40l-1.885-1.886L20 23.772 5.657 38.114 3.772 40 0 36.228l1.886-1.885L16.228 20z" fill-rule="evenodd"/></symbol>
          <symbol id="sbx-icon-search-13" viewBox="0 0 40 40"><path d="M26.806 29.012a16.312 16.312 0 0 1-10.427 3.746C7.332 32.758 0 25.425 0 16.378 0 7.334 7.333 0 16.38 0c9.045 0 16.378 7.333 16.378 16.38 0 3.96-1.406 7.593-3.746 10.426L39.547 37.34c.607.608.61 1.59-.004 2.203a1.56 1.56 0 0 1-2.202.004L26.807 29.012zm-10.427.627c7.322 0 13.26-5.938 13.26-13.26 0-7.324-5.938-13.26-13.26-13.26-7.324 0-13.26 5.936-13.26 13.26 0 7.322 5.936 13.26 13.26 13.26z" fill-rule="evenodd"/></symbol>

      %ul.menu
        %li{nav_active("documentation.html")}
          %a.nav-link{href: "documentation.html", title: "Documentation", :data => {:path => "documentation.html"}} Documentation
        %li{nav_active("examples.html")}
          %a.nav-link{href: "examples.html", title: "Examples", :data => {:path => "examples.html"}} Examples
        %li
          %a.nav-link.navbar-github-link{href: "https://github.com/algolia/places", title: "GitHub repository"}
            = partial("/images/svg/icon-github.svg")
