{
  "presets": ["es2015", "stage-2"],
  "env": {
    "npm": {
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "./webpack.config.npm.babel.js",
            "verbose": false
          }
        ]
      ]
    }
  }
}
