{
  "presets": ["es2015", "stage-2"],
  "env": {
    "npm": {
      "plugins": [
        ["babel-plugin-inline-import", {
          "extensions": [
            ".svg",
            ".css"
          ]
        }]
      ]
    }
  }
}
