<% wrap_layout :layout do %>
<section class="documentation-section">
  <div class="container">
    <nav class="sidebar" id="sidebar"></nav>
    <div class="documentation-container">
      <%= yield %>
    </div>
  </div>
</section>
<%= javascript_include_tag 'documentation-layout' %>
<% end %>
