---
layout: bootstrap
---

<h1>Example using bootstrap</h1>

<input type="search" class="form-control" id="test" />

<script>
places({
  container: document.querySelector('#test'),
  autocompleteOptions: {
    debug: true
  }
});
</script>
