---
title: Documentation
---

%section.documentation-section
  .container
    %nav.sidebar#sidebar
      ~ partial("/partials/documentation/sidebar")

    %div.documentation-container
      ~ partial("/partials/documentation/documentation")
      -# We are using ~ instead of #, see why: https://github.com/middleman/middleman-syntax/issues/16#issuecomment-85270459
