---
title: Algolia Places
subtitle: Free autocomplete address search
---

%section
  .container
    %div
      %h2.title Why Places?
      %p Algolia Places is our answer to provide a fast, distributed and easy to use address search autocomplete library for your website.
      %p It harness the impressive OpenStreetMap’s <a href="http://wiki.openstreetmap.org/wiki/Planet.osm">open source database</a> of worldwide places.

      %a{href: "/documentation.html#getting-started", class: "btn btn-cta"} Get Started

%hr
%section.marketing-section
  .container
    %div.bloc-5
      %div.fl-left.bloc-3
        %img{src: "images/svg/illus-feat-autocomplete.svg"}

      %div.fl-left.bloc-7
        %h3.title Easy to use
        %p To use Algolia Places, you only need an HTML <b>&lt;input /&gt;</b> and the <b>places.js</b> library. It takes <b>1 minute</b> to install it on your website.

    %div.bloc-5
      %div.fl-left.bloc-3
        %img{src: "images/svg/illus-feat-relevance.svg"}

      %div.fl-left.bloc-7
        %h3.title Relevance
        %p We have been building search engines for years. It felt natural to build an <b>address search</b> using Algolia's <a href="https://blog.algolia.com/how-algolia-tackled-the-relevance-problem-of-search-engines/">relevance knowledge</a>.

    %div.bloc-5
      %div.fl-left.bloc-3
        %img{src: "images/svg/illus-feat-typo-tolerance.svg"}

      %div.fl-left.bloc-7
        %h3.title Typo tolerance
        %p Algolia Places supports typos and mistakes like any Algolia search index. We have a <a href="https://www.algolia.com/doc/relevance/typo-tolerance">unique way</a> to handle typos and rank results accordingly.

    %div.bloc-5
      %div.fl-left.bloc-3
        %img{src: "images/svg/illus-feat-rocket.svg"}

      %div.fl-left.bloc-7
        %h3.title Speed
        %p Algolia Places deliver address search <b>in milliseconds</b> to your users no matter where they are: we automatically route them to our <a href="https://www.algolia.com/infra">closest servers</a>.

%section.action-section
  .container
    %div
      %h2.title Free to use
      %p Algolia Places is free. There’s a rate limit of 1000 searches per IP per hour so you should be safe as long as your users are not doing more than 1000 searches per hour.
      %p If it happen that you love Algolia Places and would like to go further then you can contact us at <a href="mailto:sales+places@algolia.com">sales+places@algolia.com</a>.

      %a{href: "/documentation.html#getting-started", class: "btn btn-cta"} Get Started
