---
title: Algolia Places
subtitle: Turn any <code>&lt;input&gt;</code> into an address search bar
---

%section
  .container
    %div
      %h2.title Fast, beautiful & easy-to-use address auto-completion
      %p Algolia Places provides a fast, distributed and easy to use address search autocomplete JavaScript library for your website. It has been designed to improve the user experience of your HTML forms.
      %p It harnesses OpenStreetMap’s impressive <a href="http://wiki.openstreetmap.org/wiki/Planet.osm">open source database</a> of worldwide places.

      %a{href: "documentation.html", class: "btn btn-cta"} Get Started
%hr
%section.examples-section.oddbg
  .container
    %div
      %h2.title Free to use: our commitment for a better user experience
      %p Algolia Places is free for educational & commercial use. Delight your users by implementing a powerful addresses auto-complete in minutes.

      .row
        .bloc-5.no-mobile
          %figure.media-object
            %img{src: "https://res.cloudinary.com/hilnmyskv/image/upload/f_auto,q_100/v1462192192/Algolia_Places_-_demo_country_v2_gsn2qq.gif", class: "gif"}
        .bloc-5
          %h3.title Create the best city or country selector
          %p Stop scrolling through a list to pick a country and help your users select it faster.
        .bloc-5.no-desktop
          %figure.media-object
            %img{src: "https://res.cloudinary.com/hilnmyskv/image/upload/f_auto,q_100/v1462192192/Algolia_Places_-_demo_country_v2_gsn2qq.gif", class: "gif"}
      .row
        .bloc-5
          %h3.title Display a map
          %p Visualize the results in a glance by displaying them on a map in real time
        .bloc-5
          %figure.media-object
            %img{src: "https://res.cloudinary.com/hilnmyskv/image/upload/f_auto,w_600/v1462178462/Algolia_Places_-_demo_map_v2_tbsfvm.gif", class: "gif"}

      .row
        .bloc-5
          %figure.media-object
            %img{src: "https://res.cloudinary.com/hilnmyskv/image/upload/f_auto,w_600/v1461833483/Algolia_Places_-_demo_checkout_v2_1_zwg57n.gif", class: "gif"}
        .bloc-5
          %h3.title Autocomplete your forms
          %p Simplify your checkout and users’ accounts by filling multiple inputs at the same time.

%hr
%section.marketing-section
  .container
    %div.bloc-5
      %div.fl-left.bloc-3
        %img{src: "images/svg/illus-feat-autocomplete.svg"}

      %div.fl-left.bloc-7
        %h3.title Easy to use
        %p A JavaScript <b>one-liner</b> to turn any HTML <code>&lt;input&gt;</code> into fast & beautiful address auto-complete menus.

    %div.bloc-5
      %div.fl-left.bloc-3
        %img{src: "images/svg/illus-feat-relevance.svg"}

      %div.fl-left.bloc-7
        %h3.title Relevant
        %p Backed by Algolia's <a href="https://blog.algolia.com/how-algolia-tackled-the-relevance-problem-of-search-engines/">unique ranking algorithm</a>, Algolia Places mixes <b>relevant local & famous</b> places in a very intuitive way.

    %div.bloc-5
      %div.fl-left.bloc-3
        %img{src: "images/svg/illus-feat-typo-tolerance.svg"}

      %div.fl-left.bloc-7
        %h3.title Typo tolerant
        %p Native support of <b>typing mistakes</b> thanks to the <a href="https://www.algolia.com/doc/relevance/typo-tolerance">unique way</a> the Algolia search-engine is handling typos to rank results accordingly.

    %div.bloc-5
      %div.fl-left.bloc-3
        %img{src: "images/svg/illus-feat-rocket.svg"}

      %div.fl-left.bloc-7
        %h3.title Blazing fast
        %p Deliver search results in <b>milliseconds</b> to your users. No matter where they are: we automatically route them to our <a href="https://www.algolia.com/infra">closest server</a>.
