---
title: Algolia Places <iframe src="https://ghbtns.com/github-btn.html?user=algolia&repo=places&type=star&count=true&size=large" width="160" height="30" id="github-button"></iframe>
subtitle: Turn any <code>&lt;input&gt;</code> into an address autocomplete
---

%section
  .container
    %div
      %h2.title Fast, beautiful and easy-to-use address autocompletion
      %p Algolia Places provides a fast, distributed and easy way to use address search autocomplete JavaScript library on your website. It has been designed to improve the user experience of your HTML forms.
      %p It harnesses OpenStreetMap’s impressive <a href="http://wiki.openstreetmap.org/wiki/Planet.osm">open source database</a> of worldwide places.

      %a{href: "documentation.html", class: "btn btn-cta"} Get Started
%hr
%section.examples-section.oddbg
  .container
    %div
      %h2.title One library, many possibilities
      %p Delight your users by implementing a powerful addresses autocomplete in minutes.


      .row
        .bloc-5.no-mobile
          %figure.media-object
            %img{src: "https://res.cloudinary.com/hilnmyskv/image/upload/f_auto,w_600/v1461833483/Algolia_Places_-_demo_checkout_v2_1_zwg57n.gif", class: "gif"}
        .bloc-5
          %h3.title Autocomplete your forms
          %p Simplify your checkout and users’ accounts by filling multiple inputs at the same time.
          %p
            %a{href: 'examples.html#complete-form'} View Code
        .bloc-5.display-on-small
          %figure.media-object
            %img{src: "https://res.cloudinary.com/hilnmyskv/image/upload/f_auto,w_600/v1461833483/Algolia_Places_-_demo_checkout_v2_1_zwg57n.gif", class: "gif"}

      .row
        .bloc-5
          %h3.title Create the best city or country selector
          %p Stop scrolling through a list to pick a country. Help your users find it faster.
          %p
            %a{href: 'examples.html#country-search'} View Code
        .bloc-5
          %figure.media-object
            %img{src: "https://res.cloudinary.com/hilnmyskv/image/upload/f_auto,q_100/v1462192192/Algolia_Places_-_demo_country_v2_gsn2qq.gif", class: "gif"}

      .row
        .bloc-5.no-mobile
          %figure.media-object
            %img{src: "https://res.cloudinary.com/hilnmyskv/image/upload/f_auto,w_600/v1462178462/Algolia_Places_-_demo_map_v2_tbsfvm.gif", class: "gif"}
        .bloc-5
          %h3.title Link suggestions to a map
          %p Visualize the results at a glance by displaying them on a real-time map.
          %p
            %a{href: 'examples.html#link-to-a-map'} View Code
        .bloc-5.display-on-small
          %figure.media-object
            %img{src: "https://res.cloudinary.com/hilnmyskv/image/upload/f_auto,w_600/v1462178462/Algolia_Places_-_demo_map_v2_tbsfvm.gif", class: "gif"}

      .row
        .bloc-5
          %h3.title autocomplete.js & instantsearch.js ready
          %p Build unique search experiences with the autocomplete.js & instantsearch.js plugins for Algolia Places.
          %p
            %a{href: 'examples.html#autocompletejs'} View Code
        .bloc-5
          %figure.media-object
            %img{src: "images/hp-demo-autocompletejs.gif", class: "gif"}


%hr
%section.marketing-section
  .container
    %div.bloc-5
      %div.fl-left.bloc-7.text-right
        %h3.title Easy to use
        %p A JavaScript <b>one liner</b> to turn any HTML <code>&lt;input&gt;</code> into fast & beautiful address auto-complete menus.
      %div.fl-left.bloc-3
        %img{src: "images/svg/illus-feat-autocomplete.svg"}

    %div.bloc-5
      %div.fl-left.bloc-3
        %img{src: "images/svg/illus-feat-relevance.svg"}

      %div.fl-left.bloc-7
        %h3.title Relevant
        %p Backed by Algolia's <a href="https://blog.algolia.com/how-algolia-tackled-the-relevance-problem-of-search-engines/">unique ranking algorithm</a>, Algolia Places mixes <b>intuitively relevant local and famous</b> places.

    %div.bloc-5
      %div.fl-left.bloc-7.text-right
        %h3.title Typo tolerant
        %p Native support of <b>typing mistakes</b> thanks to the <a href="https://www.algolia.com/doc/relevance/typo-tolerance">unique way</a> Algolia handles typos and ranks results accordingly.
      %div.fl-left.bloc-3
        %img{src: "images/svg/illus-feat-typo-tolerance.svg"}

    %div.bloc-5
      %div.fl-left.bloc-3
        %img{src: "images/svg/illus-feat-rocket.svg"}

      %div.fl-left.bloc-7
        %h3.title Blazing fast
        %p Deliver search results your users in <b>milliseconds</b>, no matter where they are. All queries are automatically routed to our <a href="https://www.algolia.com/infra">closest server</a>.
/ %hr
/ %section.poi-section.oddbg
/   .container
/     %div
/       %h2.title Add you own results
/       %p Combine your own business data with Algolia Places using a single dropdown menu.
