---
title: Algolia Places
subtitle: Free, open source, FIXME
---
= partial("/partials/navigation")
= partial("/partials/hero")

%section
  .container
    %div
      %h2.title Why Places ?
      %p We're kind of scratching our own itch here. As developers, we spend a lot of time reading documentation, and it isn’t always easy to find the information we need.
      %p No one's to blame, building a good search for a documentation is a complex challenge. We just happen to have a lot of experience doing that, and we want to share it with the world.

      %a{href: "http://algolia.com", class: "btn btn-cta"} Get Started

%hr
%section.marketing-section
  .container
    %div.bloc-5
      %div.fl-left.bloc-3
        %img{src: "images/svg/illus-feat-autocomplete.svg"}

      %div.fl-left.bloc-7
        %h3.title Auto-suggestions
        %p We're kind of scratching our own itch here. As developers, we spend a lot lorem ipsum dolor sit amet en consequeter

    %div.bloc-5
      %div.fl-left.bloc-3
        %img{src: "images/svg/illus-feat-relevance.svg"}

      %div.fl-left.bloc-7
        %h3.title Relevance
        %p We're kind of scratching our own itch here. As developers, we spend a lot lorem ipsum dolor sit amet en consequeter

    %div.bloc-5
      %div.fl-left.bloc-3
        %img{src: "images/svg/illus-feat-typo-tolerance.svg"}

      %div.fl-left.bloc-7
        %h3.title Typo Tolerance
        %p We're kind of scratching our own itch here. As developers, we spend a lot lorem ipsum dolor sit amet en consequeter

    %div.bloc-5
      %div.fl-left.bloc-3
        %img{src: "images/svg/illus-feat-rocket.svg"}

      %div.fl-left.bloc-7
        %h3.title Speed
        %p We're kind of scratching our own itch here. As developers, we spend a lot lorem ipsum dolor sit amet en consequeter


%section.action-section
  .container
    %div
      %h2.title Everywhere you need
      %p We're kind of scratching our own itch here. As developers, we spend a lot of time reading documentation, and it isn’t always easy to find the information we need.
      %p  No one's to blame, building a good search for a documentation is a complex challenge. We just happen to have a lot of experience doing that, and we want to share it with the world.

      %a{href: "http://algolia.com", class: "btn btn-cta"} Get Started
