<div>
  <strong>Searching around: </strong>
  <div id="api-client-reverse-city"></div>
</div>

<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script>
var placesClient = algoliasearch.initPlaces(
  '<%= app_id %>',
  '<%= api_key %>'
);

var preferredLanguage = window.navigator.language.split('-')[0];

placesClient.search({
  query: '',
  aroundLatLngViaIP: true,
  type: 'city',
  hitsPerPage: 1,
  language: preferredLanguage,
}).then(function(results) {
  var hits = results.hits;
  if (!hits[0]) {
    return;
  }
  var locale_names = hits[0].locale_names;
  var country = hits[0].country;
  var formattedCity = locale_names[0] + ', ' + country;

  var infoElt = document.querySelector("#api-client-reverse-city");
  infoElt.textContent = formattedCity;
});
</script>