<div>
<p>When constructing a search UI using InstantSearch, you may want to filter your dataset to only display some of your products based on the distance to the end user. This is usually done using the aroundLatLngViaIP filter, or aroundLatLng filter if you have access to precise geolocation information. However geographical filters are hard to interpret when displayed in raw format, as noone really knows where the coordinates <span id="coords"><code>48.8566, 2.34287</code></span> are.</p>

<p>Using Places, you can do a query to find the city in which your user is located and display that city name instead of a geolocation.</p>
</div>

<p><strong>Example:</strong></p>

<div>
  <strong>Searching around: </strong>
  <div id="reverse-city"></div>
</div>

<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script>
var placesClient = algoliasearch.initPlaces(
  '<%= app_id %>',
  '<%= api_key %>'
);

var preferredLanguage = window.navigator.language.split('-')[0];

placesClient.search({
  query: '',
  aroundLatLngViaIP: true,
  type: 'city',
  hitsPerPage: 1,
  language: preferredLanguage,
}).then(function(results) {
  var hits = results.hits;
  if (!hits[0]) {
    return;
  }
  var locale_names = hits[0].locale_names;
  var country = hits[0].country;
  var _geoloc = hits[0]._geoloc;
  var formattedCity = locale_names[0] + ', ' + country;

  var coordElt = document.querySelector("#coords"); 
  var lat = _geoloc.lat;
  var lng = _geoloc.lng;
  coordElt.innerHTML = '<code>' + lat + ', ' + lng + '</code>';
  var infoElt = document.querySelector("#reverse-city");
  infoElt.textContent = formattedCity;
});
</script>