$icon-pin: 'data:image/svg+xml;utf8,<svg width="14" height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg"><path d="M7 0C3.13 0 0 3.13 0 7c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5C5.62 9.5 4.5 8.38 4.5 7S5.62 4.5 7 4.5 9.5 5.62 9.5 7 8.38 9.5 7 9.5z" fill="%23CFCFCF" fill-rule="evenodd"/></svg>';
$icon-pin-hover: 'data:image/svg+xml;utf8,<svg width="14" height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg"><path d="M7 0C3.13 0 0 3.13 0 7c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5C5.62 9.5 4.5 8.38 4.5 7S5.62 4.5 7 4.5 9.5 5.62 9.5 7 8.38 9.5 7 9.5z" fill="%23AAAAAA" fill-rule="evenodd"/></svg>';

@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

// all em units are computed given a font of 16px
// see http://pxtoem.com/ to change/add values
.algolia-places {
  width: 100%;

  .aa-input,
  .aa-hint {
    box-sizing: border-box;
    width: 100%;
    padding-left: 16px;
    padding-right: 30px;
    line-height: 40px;
    height: 40px;
    // it's necessary to specify border for both inputs to get the exact same dimensions and
    // avoid font overlaps
    border: 1px solid #cccccc;
    border-radius: 3px;
    outline: none;
  }

  .aa-input {
    color: #555555;

    background: {
      image: url($icon-pin);
      repeat: no-repeat;
      position: center right 16px;
      size: 14px;
    }

    &:hover,
    &:focus {
      border-color: #999999;
      background: {
        image: url($icon-pin-hover);
      }
    }

    @include placeholder {
      color: #cccccc;
    }
  }

  .aa-hint {
    color: #cccccc;
    background: #ffffff;
  }

  // Dropdown
  .aa-dropdown-menu {
    width: 100%;
    background: #ffffff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-top: 3px;
    overflow: hidden; // avoid non rounded borders to overlap
  }

  .aa-suggestion {
    cursor: pointer;
    height: 46px;
    line-height: 46px;
    padding-left: 18px;
    overflow: hidden;

    em {
      font-weight: bold;
      font-style: normal;
    }
  }

  .pl-address {
    font-size: smaller;
    margin-left: 12px; // 12px when font is 14px
    color: #aaaaaa;
  }

  .pl-icon {
    margin-right: 10px;
    display: inline-block;
    width: 14px;
    height: 20px;
    vertical-align: middle; // handles right alignment with text

    svg {
      transform: scale(0.90);
    }
  }

  .aa-cursor {
    background: #efefef;

    .pl-icon svg {
      transform: scale(1)
    }
  }
}
