.algolia-places {
  width: 100%;
}

.ap-input, .ap-hint {
  width: 100%;
  padding-right: 35px;
  padding-left: 16px;
  line-height: 40px;
  height: 40px;
  border: 1px solid #CCC;
  border-radius: 3px;
  outline: none;
  font: inherit;
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.ap-input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.ap-input::-ms-clear {
  display: none;
}

.ap-input:hover ~ .ap-input-icon svg,
.ap-input:focus ~ .ap-input-icon svg,
.ap-input-icon:hover svg {
  fill: #aaaaaa;
}

.ap-dropdown-menu {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 3px;
  overflow: hidden;
}

.ap-suggestion {
  cursor: pointer;
  height: 46px;
  line-height: 46px;
  padding-left: 18px;
  overflow: hidden;
}

.ap-suggestion em {
  font-weight: bold;
  font-style: normal;
}

.ap-address {
  font-size: smaller;
  margin-left: 12px;
  color: #aaaaaa;
}

.ap-suggestion-icon {
  margin-right: 10px;
  width: 14px;
  height: 20px;
  vertical-align: middle;
}

.ap-suggestion-icon svg {
  -webkit-transform: scale(0.9) translateY(2px);
          transform: scale(0.9) translateY(2px);
  fill: #cfcfcf;
}

.ap-input-icon {
  border: 0;
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 16px;
  outline: none;
}

.ap-input-icon.ap-icon-pin {
  cursor: initial;
}

.ap-input-icon svg {
  fill: #cfcfcf;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ap-cursor {
  background: #efefef;
}

.ap-cursor .ap-suggestion-icon svg {
  -webkit-transform: scale(1) translateY(2px);
          transform: scale(1) translateY(2px);
  fill: #aaaaaa;
}

.ap-footer {
  opacity: .8;
  text-align: right;
  padding: .5em 1em .5em 0;
  font-size: 12px;
  line-height: 12px;
}

.ap-footer a {
  color: inherit;
  text-decoration: none;
}

.ap-footer a svg {
  vertical-align: text-bottom;
  max-width: 60px;
}

.ap-footer:hover {
  opacity: 1;
}
