.rouge-code {
  position:relative;

  .clipboard {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 39px;
    background-color: #f4f4f4;
    border: none;
    display: flex;
    box-sizing: border-box;
    border-bottom-left-radius: 4px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 150ms;
  }

  &:hover {
    .clipboard {
      opacity: 1;
    }
  }
}
