.code {
  position:relative;

  .clipboard {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 150ms;
  }

  &:hover {
    .clipboard {
      opacity: 1;
    }
  }
}
