/* Grid system
// .bloc-1 = 10%
// .bloc-2 = 20%
// and so on..
================*/
$sizes: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

[class*="bloc-"] {
  float: left;
}
@each $size in $sizes {
  .bloc-#{$size} {
    $size: $size*10%;
    width: $size;
  }
}


/* Containers
================*/
.container {
  float: none;
  margin: auto;
  width: 100%;
  max-width: $max-width;
  float: none;
  margin: auto;
  width: 100%;
}

section {
  min-height: 550px;
  width: 100%;
  float: left;
  position: relative;

  @include medium-mq {
    padding: 0 16px;
  }


  &.hero-section {
    background: $denim-blue;
    color: #fff;
    padding-top: $navigation-height*1.5;
    position: relative;

    .icon {
      width: 20px;
      height: 20px;
      display: block;
      position: relative;

      &:after {
        position: absolute;
        display: block;
        content: '';
        width: 16px;
        height: 2px;
        background: #D8D8D8;
        top: 30px;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0.5;
      }
    }

    h1 {
      margin-bottom: 0;
      padding: 0;
      line-height: 22px;
    }

    h3 {
      font-size: 20px;
      color: $powder-blue;
      font-weight: 400;
    }


    @include small-mq {
      text-align: center;
      padding-top: 16px;
      position: relative;
      max-width: 100%;

      .fl-left {
        width: 100%;
      }

      .fl-right {
        display: none;
      }

      .small-illustration {
        max-width: 30%;
        display: block;
        float: none;
        margin: auto;

        img {
          width: 100%;
        }
      }

      h1 {
        font-size: 28px;
      }

      .btn {
        max-width: 100%;
      }
    }


    &.shrink {
      min-height: 314px
    }
  }
}


/* Sections
=========================*/

.marketing-section {
  margin-top: 120px;
  margin-bottom: 60px;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include medium-mq {
     position: relative;
     transform: none;
     top: inherit;
     left: inherit;
    }
  }

  .bloc-5 {
    margin-bottom: 40px;

    &:nth-child(1),
    &:nth-child(3) {
      padding-right: 10px;
    }

    &:nth-child(2),
    &:nth-child(4) {
      padding-left: 10px;
    }

    @include medium-mq {
      width: 100%;
      padding: 0 !important;
    }

  }

  .bloc-3 {
    img {
      width: 90%;
      margin: 0 auto;
      display: block;
      float: none;
      padding: 0 16px 16px;

      max-width: 140px;
    }
  }

  h3.title ~ p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
  }
}

////
.action-section {
  background: $pale-grey url('../images/svg/search-everywhere-illu.svg')no-repeat center bottom / 38%;
  padding-bottom: 420px;

  @include medium-mq {
    background: $pale-grey url('../images/svg/search-everywhere-illu.svg')no-repeat center bottom / 58%;
  }

  @include big-min-mq {
    background: $pale-grey url('../images/svg/search-everywhere-illu.svg')no-repeat center bottom / 28%;
  }

  @include small-mq {
    padding-bottom: 260px;

    .btn.btn-cta {
      max-width: 100%;
      width: 100%;
    }
  }
}

.documentation-section {
  padding-top: 120px;

  .container {
    article {
      position: relative;
      left: calc(#{$sidebar-width} + 40px);
      margin-top: 60px;
    }
  }

  p,
  ul {
    font-size: 16px;
    line-height: 22px;
  }

  h2 {
    color: $charcoal-grey;
    font-size: 28px;
  }
}
////

.footer-section {
  color: $greyish-brown;
  z-index: 10;
  background: #fff;

  hr {
    margin: 0;
  }

  p {
    margin: 48px 0;
    font-size: 16px;
  }

  .link {
    &:not(:first-of-type):before {
      content: '•';
      position: relative;
      margin-right: 16px;
      color: $charcoal-grey
    }
  }

  .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .newsletter-bloc {
    margin-top: 120px;
  }

  @include small-mq {
    .links {
      text-align: center;
      a:nth-child(2) {
        margin-bottom: 16px;
        display: block;

      }
      a:nth-child(3):before {
        display: none;
      }
    }

    .newsletter-bloc {
      margin-top: 60px;
    }
  }
}

/* Newsletter form
=========================*/

.newsletter-form {
  width: calc(286px + 106px + 10px);
  margin: auto;


  > div {
    max-width: 286px;
    height: 40px;
    line-height: 40px;
    box-shadow: inset 0 0 0 2px $silver;
    border-radius: 3px;
    overflow: hidden;
    float: left;
    width: 100%;

    .icon {
      float: left;
      width: 40px;
      height: 40px;
    }
    input {
      float: left;
      width: calc(100% - 44px);
      height: calc(100% - 4px);
      border: none;
      position: relative;
      top: 2px;
      left: 2px;
      padding-left: 6px;

      @include placeholder {
        font-size: 14px;
        color: $blue-grey;
      }
    }
  }

  .btn {
    float: left;
    width: 106px;
    margin-left: 10px;
  }



  @include small-mq {
    width: 100%;
    padding-bottom: 32px;
    margin-bottom: 32px;

    > div {
      width: 100%;
      max-width: 100%;

      input {
      }
    }

   .btn {
      width: 100%;
      max-width: 100%;
      margin: 8px 0;
    }
  }
}


