/* Containers
================*/
.container {
  max-width: $max-width;
}

section {
  min-height: 550px;
  width: 100%;

  &.hero-section {
    background: $denim-blue;
    color: #fff;
    padding-top: $navigation-height;
  }
}