.documentation-section {
  padding-top: 120px;

  .container {
    article {
      width: 100%;
      position: relative;
      margin-top: 60px;
    }
  }

  p,
  ul {
    font-size: 16px;
    line-height: 22px;
  }

  h2 {
    color: $charcoal-grey;
    font-size: 28px;
    padding-right: 1em;

    &[id] {
      &:before {
        content: "";
        display: block;
        height: $offset-height;
        margin: -$offset-height 0 0;
      }
    }
  }

  .documentation-container {
    float: left;
    position: relative;
    left: #{$sidebar-width};
    width: calc(100% - #{$sidebar-width});
    padding-left: 30px;

    .anchor {
      margin-left: .2em;
      display: none;
    }

    h2, h3 {
      padding-bottom: 8px;

      .anchor {
        color: $red-pink;
        text-decoration: none;
      }
      &:hover {
        .anchor {
          display: inline;
        }
      }

      &:target {
        .anchor {
          display: inline;
        }
      }
    }
  }

  @include small-mq {
    padding-top: 16px;

    .container {
      .documentation-container {
        left: 0;
        width: 100%;
        padding: 0 16px;
      }
      article {
        float: left;
        margin-top: 40px;
      }
    }
  }
}
