
.documentation-section {
  padding-top: 120px;

  .container {
    article {
      width: 100%;
      position: relative;
      margin-top: 60px;
    }
  }

  p,
  ul {
    font-size: 16px;
    line-height: 22px;
  }

  h2 {
    color: $charcoal-grey;
    font-size: 28px;
  }

  .documentation-container {
    float: left;
    position: relative;
    left: calc(200px);
    width: calc(100% - 160px);
    padding-left: 40px;
  }

  @include small-mq {
    padding-top: 16px;

    .container {
      .documentation-container {
        left: 0;
        width: 100%;
        padding: 0 16px;
      }
      article {
        float: left;
        margin-top: 40px;
      }
    }
  }
}