.documentation-section {

  .container {

    article {
      width: 100%;
      position: relative;
      margin-top: 60px;
    }
  }

  p,
  ul {
    font-size: 16px;
    line-height: 22px;
  }

  h2 {
    color: $charcoal-grey;
    font-size: 28px;
    padding-right: 1em;
  }

  h2, h3 {
    &[id] {
      &:before {
        content: "";
        display: block;
        height: $offset-height;
        margin: -$offset-height 0 0;
      }
    }
  }

  .documentation-container {
    float: left;
    position: relative;
    left: #{$sidebar-width};
    width: calc(100% - #{$sidebar-width});
    padding-left: 30px;
    padding-top: 120px;

    // API tables
    table.api {
      padding: 0;
      border-collapse: collapse;
      border-spacing: 0;

      tr {
        border-top: 1px solid #cccccc;
        background-color: white;
        margin: 0;
        padding: 0;

        &:nth-child(2n) {
          background-color: #f8f8f8;
        }

        th {
          font-weight: bold;
          border: 1px solid #cccccc;
          text-align: left;
          margin: 0;
          padding: 6px 13px;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        td {
          border: 1px solid #cccccc;
          text-align: left;
          margin: 0;
          padding: 6px 13px;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &+ h2,
      &+ h3 {
        margin-top: 2em;
      }
    }

    .anchor {
      margin-left: .2em;
      display: none;
    }

    .algolia-places {
      color: #000000
    }

    h2, h3 {
      padding-bottom: 8px;

      .anchor {
        color: $red-pink;
        text-decoration: none;
      }

      &:hover {
        .anchor {
          display: inline;
        }
      }

      &:target {
        .anchor {
          display: inline;
        }
      }
    }
  }

  @include small-mq {
    padding-top: 16px;

    .container {
      .documentation-container {
        left: 0;
        width: 100%;
        padding: 0 16px;
      }

      article {
        float: left;
        margin-top: 40px;
      }
    }

    .documentation .hero-section {
      .fl-left {
        max-width: 300px !important;
        width: 300px !important;
      }
    }
  }
}
