.algolia-autocomplete {

  .aa-dropdown-menu {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 4px;

    .aa-suggestion {
      height: 46px;
      line-height: 46px;
      padding: 0 18px;
      font-family: 'Open Sans', helvetica neue, helvetica;
      font-weight: 400;
      color: #262626;
      overflow: hidden;

      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &:hover,
      &.aa-cursor {
        background: $pale-grey;

        .pl-address {
          color: darken($greyish, 10%)
        }

        .pl-icon svg {
          transform: scale(1)
        }
      }
    }
  }

  .pl-address {
    font-size: 14px;
    margin-left: 12px;
    color: $greyish;
  }


  .pl-icon {
    max-width: 14px;
    max-height: 20px;
    margin-right: 10px;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    svg {
      max-width: 14px;
      max-height: 20px;
      transform: scale(0.90);
    }
  }
}