p a {
  color: #21A4D7;
  text-decoration: none;
}

/* heading settings
=======================*/
h1,h2,h3,h4 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 46px;
}

h3 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

/* Paragraphs
======================*/
p {
  font-family: 'Open Sans', Helvetica Neue, helvetica, sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: $charcoal-grey-75;

  @include small-mq {
    font-size: 16px;
  }

  &+ul,
  &+ol {
    font-size: 20px;
    line-height: 32px;
    color: $charcoal-grey-75;
  }
}

/* Big titles
======================*/
h2.title {
  text-align: center;
  width: 100%;
  font-size: 1.8em;
  color: $charcoal-grey;
  display: block;
  position: relative;
  margin-top: 120px;
  margin-bottom: 80px;

  &:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: $red-pink;
    top: 2.8em;
    left: 0;
    right: 0;
    margin: auto;
  }

  ~ p {
    color: $charcoal-grey;
    font-size: 1.3em;
    text-align: center;

    @include small-mq {
      font-size: 16px;
    }
  }

  @include small-mq {
    margin-top: 60px;
    font-size: 22px;
  }
}

/* Small titles
======================*/
h3.title {
  font-size: 1.5em;
  color: $greyish-brown;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.2em;

  ~ p {
    margin: 32px 0;
    padding: 8px 0 0;
  }
}
h4 {
  font-size: 18px;
}

/* Anchors / links
====================*/
.link {
  text-transform: uppercase;
  font-size: 16px;
  color: $red-pink;
  font-weight: 600;
  text-decoration: none;
  padding: 0 8px;
}
