.icon {
  text-indent: -99999px;
  color: transparent;

  &-love {
    background: url($icon-heart)no-repeat center center / contain
  }

  &-algolia {
    background: url($icon-algolia-dark)no-repeat center center / contain
  }

  &-mail {
    background: url($icon-mail)no-repeat 8px 7px / 70%
  }

  &-algolia-small {
    background: url($icon-algolia-small)no-repeat center center / contain
  }
}