.hero-searchbar {
    max-width: 956px;
    display: block;
    color: #8F94AD;
    width: 100%;
    height: 46px;
    background-color: #fff;
    border-radius: 4px;
    border: 0;
    padding: 6px 6px 6px 43px;
    
    background: {
        image: url($icon-search);
        repeat: no-repeat;
        position: center right 15px;
    }
    
    -webkit-transition: .2s;
    transition: .2s;
}


