input {
    outline: none;
}

.algolia-autocomplete {
  width: 100%;
  position: relative;
  top: 50px;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {

}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background: #fff;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  color: #000;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

.hero-searchbar {
    max-width: 956px;
    display: block;
    color: #8F94AD;
    width: 100%;
    height: 46px;
    background-color: #fff;
    border-radius: 4px;
    border: 0;
    padding: 6px 43px 6px 16px;

    background: {
        image: url($icon-search);
        repeat: no-repeat;
        position: center right 15px;
    }

    -webkit-transition: .2s;
    transition: .2s;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(255, 255, 255, 0.5);

    @include placeholder {
        font-size: 16px;
        font-family: 'Open Sans', Helvetica Neue, helvetica, sans-serif;
    }
}
