.navigation {
  position: fixed;
  width: 100%;
  max-height: $navigation-height;
  line-height: $navigation-height;
  background: $black;
  overflow: hidden;
  z-index: 101;
  color: #fff;
  padding: 0 16px;
  margin: 0;

  .brand {
    float: left;

    // Fix cross-rendering issues
    .icon.icon-algolia-light{
      background-position: center bottom;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 8px;
  }

  .menu svg {
    width: 28px;
    height: 60px;
    float: left;

  }
  .searchbar {
    float: left;
    width: auto;
    height: $navigation-height;

    input {
      position: relative;
      width: 36px;
      height: 36px;
      line-height: 2.3em;
      padding: 0 0px 0 35px;
      background-color: transparent;
      background-image: url($icon-search-white);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 15px;

      border: solid 2px rgba(#FFF, 0.5);
      border-radius: 40px;
      color: #FFFFFF;
      overflow: hidden;
      margin-right: 16px;
      cursor: pointer;
      transition: width 0.2s ease;


      &:focus {
        width: 300px;
        background-position: center left 15px;
      }

      @include small-mq {
        display: none;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;

    @include small-mq {
      display: none;
    }

    li {
      display: inline-block;
      padding: 0 6px;
      float: left;


      &.active {
        a {
          border-bottom: 2px solid $red-pink;
        }
      }
    }
  }

  // Responsive nav
  select {
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 8px;
  }
}
