.navigation {
  position: fixed;
  width: 100%;
  max-height: $navigation-height;
  line-height: $navigation-height;
  background: transparent;
  overflow: hidden;
  z-index: 101;
  color: #fff;
  padding: 0 16px;
  margin: 0;

  &.init {
    background: #2F468C;
  }

  &.darken {
    background: #0C1621;
  }


  .brand {
    float: left;
  }

  a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 8px;
  }

  .searchbar {
    float: left;
    width: auto;
    height: $navigation-height;

    input {
      position: relative;
      width: 36px;
      height: 36px;
      line-height: 2.3em;
      padding: 0 0px 0 35px;
      background-color: transparent;
      background-image: url($icon-search-white);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 15px;

      border: solid 2px rgba(#FFF, 0.5);
      border-radius: 40px;
      color: #FFFFFF;
      overflow: hidden;
      margin-right: 16px;
      cursor: pointer;
      transition: width 0.2s ease;


      &:focus {
        width: 300px;
        background-position: center left 15px;
      }

    }
  }

  ul {
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;

    li {
      display: inline-block;
      padding: 0 6px;

      &.active {
        a {
          border-bottom: 2px solid $red-pink;
        }
      }
    }
  }
}