nav.sidebar {
  float: left;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: $sidebar-width;
  border-right: 1px solid #d8d8d8;
  padding-top: 120px;

  &.fixed {
    position: fixed;
    top: $navigation-height + 16px;
    z-index: 9;
    padding-top: 0;
  }

  li:hover ul {
    display: block;
  }

  a.active ~ ul {
    display: block;
  }

  ul {
    display: none;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    float: left;

    li {
      width: 100%;
      display: block;
      height: 32px;
      line-height: 32px;

      a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        color: $charcoal-grey-75;
        font-weight: 400;


        &:focus,
        &:target {
          @extend %active-links;
        }
        &.active {
          @extend %active-links;
        }
      }
    }
  }

  @include small-mq {
    width: calc(100% + 16px);
    max-width: calc(100% + 16px);
    position: absolute;
    max-height: 46px;
    left: 0;
    top: 16px;
    border: none;
    padding-top: 0;
    display: none;

    select {
      width: calc(100% - 32px);
      margin: 8px  8px;
      visibility: hidden;
    }

    &.fixed {
      background: $brand-primary;
      color: #fff;
      top: 50px;
      display: block;

      select {
        visibility: visible;
      }
    }
  }
}
