<form action="/billing" class="form">
  <div class="form-group">
    <label for="form-address">Address*</label>
    <input type="search" class="form-control" id="form-address" placeholder="Where do you live?" />
  </div>
  <div class="form-group">
    <label for="form-address2">Address 2</label>
    <input type="text" class="form-control" id="form-address2" placeholder="Street number and name" />
  </div>
  <div class="form-group">
    <label for="form-city">City*</label>
    <input type="text" class="form-control" id="form-city" placeholder="City">
  </div>
  <div class="form-group">
    <label for="form-zip">ZIP code*</label>
    <input type="text" class="form-control" id="form-zip" placeholder="ZIP code">
  </div>
</form>

<%= javascript_include_tag config[:places_lib_url] %>
<script>
(function() {
  var placesAutocomplete = places({
    appId: '<%= app_id %>',
    apiKey: '<%= api_key %>',
    container: document.querySelector('#form-address'),
    templates: {
      value: function(suggestion) {
        return suggestion.name;
      }
    }
  }).configure({
    type: 'address'
  });
  placesAutocomplete.on('change', function resultSelected(e) {
    document.querySelector('#form-address2').value = e.suggestion.administrative || '';
    document.querySelector('#form-city').value = e.suggestion.city || '';
    document.querySelector('#form-zip').value = e.suggestion.postcode || '';
  });
})();
</script>