<link rel="stylesheet" type="text/css" href="//cloud.github.com/downloads/lafeber/world-flags-sprite/flags16.css" />

<div class="f16">
  <input type="search" id="country" class="form-control" placeholder="What's your favorite country?" />
</div>

<%= javascript_include_tag config[:places_lib_url] %>
<script>
(function() {
  var placesAutocomplete = places({
    container: document.querySelector('#country'),
    type: 'country',
    templates: {
      suggestion: function(suggestion) {
        var hit = suggestion.rawAnswer.hits[suggestion.hitIndex];
        return '<i class="flag ' + suggestion.countryCode + '"></i> ' +
          hit._highlightResult.locale_names[0].value;
      }
    }
  });
})();
</script>
