<div id="full-styling-address">
  <input type="search" placeholder="Where are we going?" />
</div>

<%= javascript_include_tag config[:places_lib_url] %>
<style>
  #full-styling-address .ap-dropdown-menu {
    background: #efefef;
  }

  #full-styling-address .ap-dropdown-menu {
    background: #efefef;
  }
</style>

<script>
(function() {
  var placesAutocomplete = places({
    container: document.querySelector('#full-styling-address input'),
    style: false
  });
})();
</script>
