<input type="search" id="address" class="form-control" placeholder="Where are we going?" />

<p>Change event data:</p>
<pre id="address-value"></pre>

<%= javascript_include_tag config[:places_lib_url] %>
<script>
(function() {
  var placesAutocomplete = places({
    container: document.querySelector('#address')
  });

  placesAutocomplete.on('change', function(e) {
    console.log(e);

    document
      .querySelector('#address-value')
      .textContent = JSON.stringify(e, null, 2);
  });
})();
</script>
