<input type="search" id="address" class="form-control" placeholder="Where are we going?" />

<p>Change event data:</p>
<pre id="address-value"></pre>

<script>
  var placesAutocomplete = places({
    container: document.querySelector('#address')
  });

  placesAutocomplete.on('change', function(e) {
    document
      .querySelector('#address-value')
      .textContent = JSON.stringify(e, '', 2);
  });
</script>
