<div class="dynamic-control-group" style="max-width: 240px">
  <label for="country-selector">Select country</label>
  <select id="country-selector" class="btn btn-black">
    <option value="fr">France</option>
    <option value="us">United States</option>
  </select>
</div>

<input type="search" id="single-country-search" class="form-control" placeholder="Where are we going?" />

<p>Selected: <strong id="single-country-address-value">none</strong></p>
<%= javascript_include_tag config[:places_lib_url] %>
<script>
(function() {
  var placesAutocomplete = places({
    appId: '<%= app_id %>',
    apiKey: '<%= api_key %>',
    container: document.querySelector('#single-country-search')
  }).configure({
    countries: ['fr']
  });

  var $address = document.querySelector('#single-country-address-value')
  placesAutocomplete.on('change', function(e) {
    $address.textContent = e.suggestion.value
  });

  placesAutocomplete.on('clear', function() {
    $address.textContent = 'none';
  });

  var $country = document.querySelector('#country-selector')
  $country.addEventListener('change', function(e){
    placesAutocomplete.configure({ countries: [e.target.value] });
  })

})();
</script>